name: Automate Data Preprocessing

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-process:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn

      - name: Run Automate Script
        run: |
          cd kriteria1/preprocessing
          python automate_Wahyu-Damar-Iswara.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          
          # Ambil semua file CSV yang ada di folder kriteria1/preprocessing
          git add kriteria1/preprocessing/*.csv
          
          git commit -m "Auto-update processed dataset by GitHub Action" || echo "No changes to commit"
          git push